location:
    latitude: 42.5583482
    longitude: -123.3968023
    address: 123 Elm Street
    timezone: America/Los_Angeles
# If missing, no web server is started
webServer:
    listen: http://0.0.0.0:4011/api

modes:
    - name: default
      messageBus: 
        pluginType: kafka 
        brokers: soda6:9092
        linger.ms: 0
        poll.timeout.ms: 100
      clock:
        pluginType: real
      tickSource:
        copyFrom: messageBus
        increment.ms: 60000
    - name: test
      messageBus: 
        pluginType: memory
      tickSource: 
        pluginType: memory
      clock:
        pluginType: static